@import "~bootstrap/scss/bootstrap";

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    //background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

body{
  //padding-top: 8px;
}

.navigation{
  background-color: #4d788c;
  position: sticky;
  min-height: 51px;
  top: 0;
  z-index: 1;
  width: 100%;
}
#search{
  max-width: 400px;
}
.btn-search {
  color: #d7f5ed;
  background-color: #75b7d6;
  &:hover{
    color: #bdd7d0;
    background-color: #639ab4;
  }
  &:focus, &.focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 1);
  }
}
.btn-searching{
  height: 7vh;
  font-size: 2.5vh;
}
.btn-forwback{
  font-size: 2.6vh;
  height: 100%;
  width: 100%;
}
.btn-end-exam{
  height: 100%;
  font-size: 14px;
}
#menu-btn{
  height: 35px;
}
#searchStr{
  height: 7vh;
  font-size: 2.5vh;
  background-color: rgba(255, 255, 255, 0.84);
  &:focus{
    background-color: rgba(255, 255, 255, 0.96);
  }
}
#head-theme{
  font-size: 2.8vh;
  text-align: center;
  color: #c8e4dd;
}
.drop-menu{
  background-color: #4d788c;
  position: sticky;
}
.drop-menu-item{
  min-height: 20px;
  p{
    color: #c8e4dd;
    font-size: 2.6vh;
    font-weight: 400;
  }
}

#main-body{
  overflow: hidden;
}
#main-row{
  overflow: hidden;
}

.block{
  height: 100px;
  background-color: #dff1df;
  p{
    font-size: 20px;
    text-align: center;
  }
  &:hover{
    cursor: pointer;
    background-color: #c2d1c2;
  }
}
.block-question{
  min-height: 100px;
  background-color: #dff1df;
  p{
    font-size: 18px;
    text-align: center;
  }
  &:hover{
    cursor: pointer;
    background-color: #c2d1c2;
  }
}

.main-block{
  position: center;
  z-index: 0;
}
#butts{
  margin-bottom: 2vh;
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.answers-list {
  list-style: square;
  font-size: 17px;

  li:hover {
    cursor: pointer;
  }

  .false-answer {
    list-style: square;
    color: red;
  }

  .true-answer {
    color: green;
  }

  .neutral-answer {
    color: blue;
    list-style: disc;
  }
}
.quest-header{
  font-size: 2.8vh;
  font-weight: 500;
}

.result-exam{
  font-size: 30px;
}
.par-answer{
  line-height: 1;
  width: 100%;
  background-color: #dff1df;
  min-height: 25px;
  div{
    height: 100%;
  }
  &:hover{
    cursor: pointer;
    background-color: #c2d1c2;
  }
}
.correct-choice{
  background-color: green;
}
.incorrect-choice{
  background-color: red;
}